html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
}

body {
    margin-bottom: 60px;
}

html, body {
    height: 100%;
}

html, body {
    height: 100%; /* Ensure the body and html fill the entire viewport */
    overflow-x: hidden; /* Prevent horizontal scrollbars */
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make the wrapper at least the height of the viewport */
}

.container {
    flex-grow: 1; /* Allow content to grow and fill available space */
    padding: 20px;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    overflow-x: hidden; /* Prevent horizontal scrolling inside content */
}
